[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/weiroll-huff"]
	path = lib/weiroll-huff
	url = https://github.com/0xdewy/weiroll-huff
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
